<mat-toolbar class="header" color="primary">
    <span class="mat-h1">Rules</span>
</mat-toolbar>
<div class="definitions-control">
    <button mat-raised-button color="primary" class="buttons" (click)="downloadRules()"> Download </button>
    <button mat-raised-button color="primary" class="buttons" (click)="clear()"> Clear </button>
</div>

<div class="definitions">
    <table mat-table [dataSource]="rules" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="rule" sticky>
            <th mat-header-cell *matHeaderCellDef> Rule</th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="element-row">
        </tr>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    </table>
</div>
