<mat-toolbar color="primary">
    <span class="header mat-h1">Analyzer control</span>
</mat-toolbar>
<div class="card-container">
    <div>
        <mat-card>
            <mat-card-title>
                Current state
            </mat-card-title>
            <mat-card-content>
                <span *ngIf="currentState.state === 'ACTIVE'">
                    <mat-icon color="warn">lens</mat-icon>
                    {{currentState.state}}
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-title>
                Actions
            </mat-card-title>
            <mat-card-content>
                <button mat-raised-button color="primary">
                    <mat-icon>play_arrow</mat-icon>
                    Run
                </button>
                <button mat-raised-button color="warn">
                    <mat-icon>stop</mat-icon>
                    Stop
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
