.header {
    padding-top: 10px;
}

.card-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    div {
        padding: 5px;
        width: 400px;

    }
}
